<%- include('partials/header'); -%>


    <img class="postpic" src="../<%=image%>" alt="cover">


    <div class="postheading">
      <div class="headingtext">
        <h1><%=title%></h1>
        <h2>Subtitle</h2>
        <p><%=content%></p>
      </div>
    </div>


<%- include('partials/footer'); -%>
